<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battlegao.library.mapper.StudentMapper">

    <resultMap type="com.battlegao.library.domain.Student" id="StudentResult">
        <result property="studentName" column="student_name"/>
        <result property="studentNum" column="student_num"/>
        <result property="studentGender" column="student_gender"/>
        <result property="studentClasses" column="student_classes"/>
    </resultMap>

    <sql id="selectStudentVo">
        select id,student_name,student_num,student_gender,student_classes
        from student
    </sql>

    <!--  增加操作 使用insert
          id 数据接口方法名
          parameterType 是传入的数据类型
          中间是SQL语句进行数据库操作 -->
<!--    <insert id="addStudent" parameterType="com.battlegao.library.domain.Student" >-->
<!--        insert into student(student_name,student_num,student_gender,student_classes)-->
<!--        values-->
<!--            (-->
<!--                #{studentName},#{studentNum},#{studentGender},#{studentClasses}-->
<!--            );-->
<!--    </insert>-->

   <insert id="addStudent" parameterType="com.battlegao.library.domain.Student" >
        insert into student(student_name,student_num,student_gender,student_classes)
        values
            (
                #{studentName},#{studentNum},#{studentGender},#{studentClasses}
            );
    </insert>

    <!--  删除操作 使用delete
         id 数据接口方法名
         parameterType 是传入的数据类型
         中间是SQL语句进行数据库操作 -->
    <delete id="deleteStudent" parameterType="Integer" >
        delete from student where id = #{id};
    </delete>

    <!--  修改操作 使用update
         id 数据接口方法名
         parameterType 是传入的数据类型
         中间是SQL语句进行数据库操作 -->
    <update id="updateStudent" parameterType="com.battlegao.library.domain.Student">
        update
            student
        set
            student_name = #{studentName},student_num = #{studentNum},
            student_gender = #{studentGender},student_classes = #{studentClasses}
        where
            id = #{id};
    </update>


    <!--  查询操作 使用select
         id 数据接口方法名
         parameterType 是传入的数据类型
         resultType  是返回的数据类型
         中间是SQL语句进行数据库操作 -->
    <select id="findAllStudent" resultType="com.battlegao.library.domain.Student" resultMap="StudentResult">
        select * from student;
    </select>

    <select id="findStudentByNum" resultType="com.battlegao.library.domain.Student" resultMap="StudentResult">
        select * from student where student_num = #{studentNum};

    </select>


    <select id="findStudentByName" resultType="com.battlegao.library.domain.Student" resultMap="StudentResult">
        select * from student where student_name = #{studentName};
    </select>

</mapper>